.play-button {
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-background-radius: 32%;
    -fx-font-size: 24px;
    -fx-padding: 3px;

}

.play-button:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-cursor: hand;
}

.anchor-pane {
    -fx-background-color: rgba(78, 78, 78, 0.8);
}

.anchor-pane2 {
    -fx-background-color: rgba(43, 43, 43, 0.8);
}
/* make this the colour we want at the bottom later, black maybe? */

.text-white {
    -fx-text-fill: white;
}