/*
    change this so its an actual shape maybe, make separate for play button, and maybe the other 2 buttons there.
 */
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-size: 25px;
    -fx-padding: 0;
    -fx-pref-width: 40px;
    -fx-pref-height: 40px;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-alignment: center;
}
.button:hover {
    -fx-border-radius: 20;
    -fx-border-color: white;
    -fx-alignment: center;
    -fx-cursor: hand;
}
.media-buttons {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-size: 40px;
    -fx-padding: 0;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
    -fx-alignment: center;
}
.media-buttons:hover {
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-alignment: center;
    -fx-text-fill: rgba(255, 12, 138, 0.8);
    -fx-cursor: hand;
}
.exit-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-font-size: 27px;
    -fx-padding: 0;
    -fx-pref-width: 50px;
    -fx-pref-height: 38px;
    -fx-min-width: 50px;
    -fx-min-height: 38px;
    -fx-alignment: center;

}
.exit-button:hover {
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-background-color: rgba(212, 7, 7, 0.8);
    -fx-cursor: hand;
}
.minimize-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 0;
    -fx-font-size: 27px;
    -fx-padding: 0;
    -fx-pref-width: 50px;
    -fx-pref-height: 38px;
    -fx-min-width: 50px;
    -fx-min-height: 38px;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.minimize-button:hover {
    -fx-border-radius: 0;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-background-color: rgba(100, 100, 100, 0.8);
}


VBox {
    -fx-background-color: rgba(16, 16, 16, 0.8);
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 5px, 0 , 5px ,0;
}
HBox {
    -fx-background-color: rgba(16, 16, 16, 0.8);
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


.anchor-pane {
    -fx-background-color: rgba(11, 11, 14, 0.86);
    -fx-border-width: 0.6px;
    -fx-border-color: black;
}

.anchor-pane2 {
    -fx-background-color: rgba(23, 23, 23, 0.8);
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
.anchor-pane3 {
    -fx-background-color: rgba(70, 70, 70, 0.8);
    -fx-border-width: 0.6px;
    -fx-border-color: black;
    -fx-pref-width: 979;
    -fx-pref-height: 40;
}


.text-white {
    -fx-text-fill: white;
}

.table-view {
    -fx-border-color: rgba(43, 43, 43, 0.8);
    -fx-border-width: 3px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 0px;
    -fx-background-color: rgba(43, 43, 43, 0.8);
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-pref-width: 2;
}
.table-view .table-cell {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0 10px 0 10px;
    -fx-alignment: center-left;
    -fx-font-family: "Arial Black";
    -fx-border-radius: 0;
}

.table-view .table-row-cell {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-radius: 0;
}


.table-view .table-row-cell:selected {
    -fx-background-color: rgba(223, 11, 121, 0.8);
    -fx-text-fill: white;
    -fx-border-radius: 0;
}


.table-view .table-row-cell:hover {
    -fx-background-color: rgba(255, 12, 138, 0.8);
    -fx-border-radius: 0;
}


.table-view .table-row-cell:selected .table-cell {
    -fx-background-color: rgba(223, 11, 121, 0.8);
    -fx-text-fill: white;
    -fx-border-radius: 0;
}

.table-view .table-row-cell:hover .table-cell {
    -fx-background-color: rgba(255, 12, 138, 0.8);
    -fx-border-radius: 0;
    -fx-cursor: hand;
}
.table-view .column-header.colDuration .label {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-padding: 0 15px 0, 0px;
}
.table-view .column-header.colSongCount .label {
    -fx-font-size: 16;
    -fx-text-fill: white;
    -fx-padding: 0 15px 0, 0px;
}

.table-view .column-header-background {
    -fx-background-color: rgba(43, 43, 43, 0.8);
}

.table-view .column-header {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-border-color: rgba(43, 43, 43, 0.8);
    -fx-border-width: 0 0 0px 0;
}
.table-view .column-header .label {
    -fx-font-size: 16;
    -fx-alignment: center-left;
    -fx-padding: 0 8px 0, 0px;
    -fx-text-fill: white;
}
.table-view .table-cell.colOrderIndex {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 10;
    -fx-border-width: 0;
    -fx-background-insets: 0px;
    -fx-padding: 0 0px 0 0px;
    -fx-alignment: center;
    -fx-font-family: "Arial Black";
    -fx-border-radius: 0;
    -fx-pref-width: 35
}
.table-view .table-cell.colSongCount {
    -fx-background-color: rgba(43, 43, 43, 0.8);
    -fx-text-fill: white;
    -fx-font-weight: normal;
    -fx-font-size: 12;
    -fx-padding: 0 0px 0 0px;
    -fx-alignment: center;
    -fx-pref-width: 45
}


.text-field {
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-background-color: rgba(43, 43, 43, 0.8);
}

